
*node_modules*
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# tfvars (hvis de inneholder secrets)
*.tfvars

